#editorconfig.org
root = true

[*]
indent_style = Space
indent_size =2
end of line=1f
charset =utf-8
trim_trailing_whilespace =true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false